@import "../../scss/_helpers";


.banner-heading{
    color:$dark-violet;
    font-weight: 700;
    line-height: 7.8rem;
}
.banner-para{
    font-size:1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
}