$primary-color: #010c80;
$dark-blue: #1a3447;
$light-purple: #6f6c90;
$light-purple-2: #e8eaff;
$violet: #492ec2;
$white: #ffffff;
$grey-400: #9a9ea6;
$grey-100: #b0b0b0;
$grey-700: #606060;
$grey-900: #1f192f;
$whitw: #ffffff;
$light-blue: #377ee8;
$grey-200:rgba(255, 255, 255, 0.8);
$medium-blue:#000964;
$dark-violet:#111235;
$blue: #2f3bbe;
$black-1: #050827;
$dark-black:#000000;
$container-width: 144rem;
$blue-2: #170f49;
// Fonts
$font-path: "../../public/fonts";
$primary-font: "Gliroy";
$secondary-font: "Inter", sans-serif;
